<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GiftFamily</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PhoneNumServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.PhoneNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhoneNumServlet</servlet-name>
    <url-pattern>/PhoneNumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegPhoneServlet</display-name>
    <servlet-name>RegPhoneServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.RegPhoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegPhoneServlet</servlet-name>
    <url-pattern>/RegPhoneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GiftListServlet</display-name>
    <servlet-name>GiftListServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.GiftListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiftListServlet</servlet-name>
    <url-pattern>/GiftListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetServlet</display-name>
    <servlet-name>ForgetServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.ForgetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetServlet</servlet-name>
    <url-pattern>/ForgetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAddressServlet</display-name>
    <servlet-name>AddAddressServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.AddAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAddressServlet</servlet-name>
    <url-pattern>/AddAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAddressByNameServlet</display-name>
    <servlet-name>DeleteAddressByNameServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.DeleteAddressByNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAddressByNameServlet</servlet-name>
    <url-pattern>/DeleteAddressByNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllAddressServlet</display-name>
    <servlet-name>FindAllAddressServlet</servlet-name>
    <servlet-class>org.lanqiao.servlet.FindAllAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllAddressServlet</servlet-name>
    <url-pattern>/FindAllAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetServlet1</display-name>
    <servlet-name>ForgetServlet1</servlet-name>
    <servlet-class>org.lanqiao.servlet.ForgetServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetServlet1</servlet-name>
    <url-pattern>/ForgetServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetServlet2</display-name>
    <servlet-name>ForgetServlet2</servlet-name>
    <servlet-class>org.lanqiao.servlet.ForgetServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetServlet2</servlet-name>
    <url-pattern>/ForgetServlet2</url-pattern>
  </servlet-mapping>
</web-app>